/*
=====================
    RESET CSS        
=====================
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
=====================
    FONT-FACE        
=====================
*/
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins Medium";
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}


/*
=====================
    BASE STYLES       
=====================
*/

:root {

    /* Color */

    --color-primary: #467DF7; 
    --color-secondary: #f6ac23;
    --color-danger: #F94646; 

    --color-dark-primary: #24262a;
    --color-dark-accent: #42484d;

    --color-light--1: #aaa;
    --color-light-secondary: #ececec;
    --color-light-accent: rgb(214, 222, 224);

    --color-success: #00C56A;
    --color-success-dark: #01743e; 

    --tab-width: 400px;
    --button-width: 100px;

}


html {
    font-size: 62.5%; /* 10px */
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100vh;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem; /* 16px */
    line-height: 1.75;
    height: 100vh;
    overscroll-behavior-y: none;
    background-color: var(--color-light-secondary);
    color: var(--color-light-secondary);
    font-weight: 400;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 1.5rem;
    display: flex;
}

a:link,
a:visited {
  color: var(--color-primary);
}

/* Scroll */
::-webkit-scrollbar {width: 5px;}

::-webkit-scrollbar-track {border-inline-start: 1px solid var(--color-light--1);}

::-webkit-scrollbar-thumb {background-color: var(--color-light--1);}



/*
===================
    NOTIFICATION     
===================
*/
.notification {
    position: fixed;
    top: 0.5rem;
    right: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #333333;
    overflow-x: hidden;
    padding: 0.25rem;
    z-index: 1000;

}

.notification__message {
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: 1fr auto;
    gap: 5px;
    padding: 0.5rem 1rem;
    margin: 1rem .5rem;
    background: var(--color-light-secondary);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
    border-left: 0.5rem solid var(--color-light-secondary);
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95),
                opacity 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95),
                visibility 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    
}

.notification.show .notification__message {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.notification-title {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.notification-content {
    width: 320px;
    font-size: 1rem;
    grid-column: 1/-1;
    overflow: hidden;

}

.notification__close-btn {
    background: none;
    border: none;
    color: inherit;
    width: 20px;
    height: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    cursor: pointer;
}

.notification__close-btn span {font-size: 1.8rem;}


.message--info {
    border-left-color: var(--color-primary);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
}

.message--info .notification-title {color: var(--color-primary);}

.message--success {
    border-left-color: var(--color-success);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
}

.message--success .notification-title {color: var(--color-success-dark)}


.message--error {
    border-left-color: var(--color-danger);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
}

.message--error .notification-title {color: var(--color-danger)} 


/*
===================
    SIDEBAR       
===================
*/

.sidebar {
    position: relative;
    background-color: var(--color-dark-primary);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: center;
    z-index: 2;
    height: 100%;
}

.logo {
    margin-bottom: 2rem;
    background: none;
    border: none;
    color: var(--color-success);
    font-size: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo img {
    width: 3rem;
    height: 3rem;
}

.logo span {
    font-size:1.6rem;
    font-weight: 600;
    font-family: "Poppins Medium";
}

.locate-me-btn {
    position: absolute; 
    top: 7rem; 
    left: auto;
    right: -3.5rem;
    font-size: 1.5rem; 
    color: var(--color-primary); 
    background-color: #ffff;
    width: 2.9rem;
    height: 2.9rem;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer; 
    z-index: 10;
    transition: transform 0.2s ease;
}

.locate-me-btn:is(:hover) {transform: scale(0.95);}

.location-selector {
    max-width: 420px;
    text-align: left;
    display: flex;
    flex-direction: column;
    transition: all 0.4s, transform 0.4s;
}

.location-selector--hidden {
    transform: translateX(-40rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
}

.location-selector__item {
    border: 1px solid var(--color-light--1);
    padding: 1rem;
    margin: .5rem auto;
    border-radius: 5px;
}

.location-selector__toggle {display: none;}

.location-selector__label {
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 30rem;
}

.location-selector__checkmark {
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 100px;
    border: 1px solid var(--color-success);
    box-shadow: 0px 0px 0px 0px var(--color-success) inset;
    transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
    cursor: pointer;
    order:2;
}

.location-selector__toggle:checked  + label .location-selector__checkmark {
    border-color: var(--color-success);
    box-shadow: 0px 0px 0px 15px var(--color-success) inset;
}

.location-selector__toggle:checked  + label .location-selector__checkmark::after {
    opacity: 1;
    transform: scale(1);
}


.location-selector__label-text {
    cursor: pointer;
    flex-grow: 1;
    margin-left: .5rem;
}

.location-selector__note {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0;
    grid-area: 2 / 1 / 3 / 3;
}

.location-selector__toggle:checked ~ .location-selector__note {
    max-height: 200px;
    overflow: visible;
}

.location-selector__textarea {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100%;
    padding: 8px;
    color: var(--color-light-secondary);
    border: 1px solid var(--color-light--1);
    border-radius: 4px;
    min-height: fit-content;
    overflow: hidden;
    outline: 0;
    background-color: var(--color-dark-primary);
    margin-top: 1rem;
}

.location-selector__textarea {
    font-size: 1rem;
    color: var(--color-light--1);
}

.location-selector__btn-wrapper {
    display: flex;
    gap: 1rem;
    margin-top: 12px;
}

.location-selector__btn {
    width: 50%;
    height: 3.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background: var(--color-dark-primary);
    cursor: pointer;
    color: var(--color-light-secondary);
    transition: transform 0.15s ease-in;
}

.location-selector__btn--confirm { background: var(--color-success-dark); }

.location-selector__btn--confirm:is(:hover) {
    border: 1px solid var(--color-success);
    transform: scale(0.99);
}

.location-selector__btn--cancel {
    border: 1px solid var(--color-light--1);
    color: var(--color-light--1);
}

.location-selector__btn--cancel:is(:hover) {
    border: 1px solid var(--color-light-secondary);
    transform: scale(0.99);
    color: var(--color-light-secondary);
}


/*
======================
    LOCATION WIDGET      
======================
*/

.location-widget {
    width:var(--tab-width);
    border-radius: 5px;
    margin-top: 3rem;
    flex-grow: 1; 
}

.location-widget__tabs { position: relative;}

.location-widget__tabs input:nth-child(1):checked ~ 
.location-widget__buttons 
.location-widget__active-indicator {
    translate: 0 0;
}

.location-widget__tabs input:nth-child(2):checked ~ 
.location-widget__active-indicator {
    translate: var(--button-width) 0;
}

.location-widget__tabs input:nth-child(3):checked ~ 
.location-widget__active-indicator {
    translate: calc(var(--button-width ) * 2) 0;
}

.location-widget__tabs input:nth-child(4):checked ~ 
.location-widget__active-indicator {
    translate: calc(var(--button-width ) * 3) 0;
}

.location-widget__tabs input:nth-child(1):checked ~ 
.location-widget__buttons label:nth-child(1),
.location-widget__tabs input:nth-child(2):checked ~ 
.location-widget__buttons label:nth-child(2),
.location-widget__tabs input:nth-child(3):checked ~ 
.location-widget__buttons label:nth-child(3),
.location-widget__tabs input:nth-child(4):checked ~ 
.location-widget__buttons label:nth-child(4) {
    opacity: 1;
}

.location-widget__tabs input:checked ~ .location-widget__content > .location-widget__content-inner {
    translate: 0 0;
}

.location-widget__tab-input {display: none;}

.location-widget__buttons {
    outline: none;
    border: 1px solid var(--color-light--1);
    background: var(--color-dark-primary);
    height: 50px;
    width: 100%;
    position: relative;
    display: flex;
    border-bottom: 1px solid #575757;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.location-widget__buttons  label {
    color: var(--color-light-secondary);
    padding: 8px;
    font-size: 12px;
    font-weight: 600;
    width: var(--button-width);
    opacity: 0.35;
    cursor: pointer;
}

.location-widget__buttons  label:not(:first-child) img {display: none;}


.location-widget__active-indicator {
    position: absolute;
    left:0;
    top:47px;
    width: var(--button-width);
    height: 3px;
    background: var(--color-success);
    transition: 0.3s;
}

.location-widget__content {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 570px;
    border-bottom: #aaa;
}

.location-widget__content-inner {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    width: calc(var(--tab-width) * 0);
    transition: 0.3s;
}

.location-widget__content-inner > div { min-width: var(--tab-width); }


/*
====================
    LOCATION TAB    
====================
*/

.saved-location-wrapper {width: 100%;}

.location-tab {
    border-radius: 5px;
    text-align: right;
    width:100%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 8px 0;
    width: 100% !important;
    gap:.5rem;
    padding: 1rem;
    border: 1px solid var(--color-light--1);
    cursor: pointer;
}

.location-tab--want-to-go,
.popup-want-to-go {
    border-left: 5px solid var(--color-primary);
}

.location-tab--travel-plans,
.popup-travel-plans {
    border-left: 5px solid var(--color-secondary);
}

.location-tab--favorites,
.popup-favorites {
    border-left: 5px solid var(--color-danger);
}

.location-tab__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
}

.location-info {color: var(--color-light--1);}

.location-info__note {
    max-height:48px ;
    overflow: hidden;
}

.location-actions__delete-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.location-actions__delete-btn:is(:hover) #trash-svg path {
    transform: scale(1.1); 
    stroke: var(--color-danger); 
    transition: transform 0.2s ease, stroke 0.2s ease;
}

/*
===================
    COPYRIGHT
===================
*/
.copyright {
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-light--1);
    margin-bottom: 1rem;
}

.social-link:link,
.social-link:visited {
    color: var(--color-light--1);
    transition: all 0.2s;
}

.social-link:hover,
.social-link:active {
color: var(--color-light-secondary);}


/*
===================
    MAP      
===================
*/

#map {
    flex: 1;
    height: 100%;
    z-index:1;
    position: relative
}



/*
===================
    LEAFLET      
===================
*/

.leaflet-popup .leaflet-popup-content-wrapper {
    border-radius: 5px;
    padding-right: 0.6rem;
    text-align: right;
    width:164px !important;
}
  
.leaflet-popup .leaflet-popup-content {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 8px 16px;
    width: 100% !important;
    gap:.5rem;
}
  
.leaflet-popup-content img {margin-right:1px;}

.leaflet-popup-content:last-child {text-align: left;}


/*
=====================
    MEDIA QUERIES   
=====================
*/

@media (max-width: 992px) {
    .sidebar {
        padding: 1rem 2rem;
    }
}


@media (max-width: 853px) {

    .container { flex-direction: column;}

    .sidebar {
        flex-basis: auto;
        width: 100%; /* Full width on smaller screens */
        max-width: 100%;
        height: 50vh;
        overflow-y: scroll;
        order: 1;
        overflow-x: hidden;
    }
    
    #map { height: 50vh;}

    .locate-me-btn {display: none;}

    .logo {
        flex-direction: row;
        align-items: center;           
        margin-top: 1rem;
    }

    .logo span{
        margin-left: 0;
        font-size: 1.5rem;
    }
}

/* This applies to screens 768px wide or smaller */
@media (max-width: 768px) {

    .logo {font-size: 2rem;}

    .logo span { font-size: 1.2rem;}

    .logo img {
        width: 2.5rem;
        height: 2.5rem;
    }

}

/* This applies to screens 576px wide or smaller */
@media (max-width: 576px) { }


/* This applies to screens 480px wide or smaller */
@media (max-width: 480px) {

    :root {
        --button-width: 88px;
    }

    .sidebar { padding: 1rem 2rem;}
    .location-selector{ width: 100%;}

    .location-selector article , .location-selector__label{ width: 100%;}

    .location-widget__content-inner {width: 100%;}

    .location-widget__content-inner > div { min-width: 100%;}
    .location-widget {
        width: 100%;
    }

    .location-widget__buttons label:not(:first-child) img {
         display: block;
         margin: 0 auto;
    }

    .location-widget__buttons label:not(:first-child) span { display: none;}

    .location-widget__active-indicator {width: var(--button-width)}

    .location-tab{
        font-size:1rem;
        width: 100%;
    }

}

@media (max-width: 430px) {
    :root {
        --button-width: 79px;
    }

    .logo span{
        font-size: 1rem;
        margin-left: 0;
    }

    .logo img {
        width: 2rem;
        height: 2rem;
    }

}

@media (max-width: 414px) {
    :root {
        --button-width: 75px;
    }
}

@media (max-width: 390px) {
    :root {
        --button-width: 69px;
    }   
}

@media (max-width: 375px) {
    :root {
        --button-width: 66px;
    }   
}
